
########################################################################################################################
#
# Environments
#
########################################################################################################################

env:
  node: true


########################################################################################################################
#
# Globals
#
########################################################################################################################


########################################################################################################################
#
# Rules
#
########################################################################################################################

rules:

  #
  # Possible errors
  #

  #
  # Best practices
  #

  #
  # Strict mode
  #

  #
  # Variables
  #

  no-shadow: 0

  #
  # Node issues
  #

  #
  # Stylistic issues
  #

  indent:
    - 1
    - 2
  key-spacing: 0
  no-multi-spaces: 0
  quotes:
    - 1
    - single
    - avoid-escape
